<h2 id='title'>Ember dynamic-component</h2>

<p>Showing component {{type}}</p>

<p>
  {{input value=dynamicValue name="dynamic-value"}}
</p>

<div>
  {{dynamic-component type=type dynamicValue=dynamicValue staticValue="static" anAction="componentAction"}}
</div>

<button class="x-foo-button" {{action "changeType" "x-foo"}}>x-foo</button>
<button class="x-bar-button" {{action "changeType" "x-bar"}}>x-bar</button>
<button class="x-baz-button" {{action "changeType" "x-baz"}}>x-baz</button>
